KlientEncryptor/Connected Services/ServiceReference1/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISzyfrowanie_Encrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="ISzyfrowanie_Encrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="ISzyfrowanie_Decrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="ISzyfrowanie_Decrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:message name="ISzyfrowanie_EncryptToFile_InputMessage">
    <wsdl:part name="parameters" element="tns:EncryptToFile" />
  </wsdl:message>
  <wsdl:message name="ISzyfrowanie_EncryptToFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptToFileResponse" />
  </wsdl:message>
  <wsdl:message name="ISzyfrowanie_DecryptFromFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DecryptFromFile" />
  </wsdl:message>
  <wsdl:message name="ISzyfrowanie_DecryptFromFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptFromFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ISzyfrowanie">
    <wsdl:operation name="Encrypt">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ISzyfrowanie/Encrypt" message="tns:ISzyfrowanie_Encrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ISzyfrowanie/EncryptResponse" message="tns:ISzyfrowanie_Encrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ISzyfrowanie/Decrypt" message="tns:ISzyfrowanie_Decrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ISzyfrowanie/DecryptResponse" message="tns:ISzyfrowanie_Decrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncryptToFile">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ISzyfrowanie/EncryptToFile" message="tns:ISzyfrowanie_EncryptToFile_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ISzyfrowanie/EncryptToFileResponse" message="tns:ISzyfrowanie_EncryptToFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DecryptFromFile">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ISzyfrowanie/DecryptFromFile" message="tns:ISzyfrowanie_DecryptFromFile_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ISzyfrowanie/DecryptFromFileResponse" message="tns:ISzyfrowanie_DecryptFromFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>